<div class="home"></div>
  <div class='row'>
        <div class="form-wrapper">
            <form action="/artists" method="GET">
                <div><label>
                        <h2>Check out the latest music on Spotify</h2>
                    </label></div>
                <input type="text" name="artist" class="artist-input" value=""
                    placeholder="What artist are you looking for?" required>
                <div class="button-submit-artist">
                    <button type="submit" class="btn btn-primary">Search for an artist</button>
                </div>
        </div>
        </form>
    </div>